*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html, body{
	height: 100%;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}

.w100{
	width: 100%;
}

.w50{
	width: 50%;
}

.center{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 2%;
}

/* Init header*/

header{
	background-color: rgb(240,240,240);
}

div.logo {
	padding: 10px 2%;
}

div.logo img{
	width: 90px;
}

nav.desktop{
	padding: 35px 2%;
}

nav.desktop ul{
	text-align: right;
	list-style-type: none;
}

nav.desktop li{
	margin: 0 20px;
	display: inline-block;
	transition: 1s;
}

nav.desktop li:hover{
	text-decoration: underline;
}

nav.desktop a{
	color: rgb(90,90,90);
	text-decoration: none;
}

nav.mobile{
	width: 28px;
	height: 28px;
	margin: 34px 2%;
	cursor: pointer;
	background-size: cover;
	background-image: url('../images/icon_menu.png');
	display: none;
}

nav.mobile ul{
	width: 100%;
	position: absolute;
	top: 95px;
	left: 0;
	text-align: center;
	border-bottom: 3px solid rgb(140,140,140);
	border-top: 1px solid rgb(140,140,140);
	background-color: rgb(240,240,240);
	opacity: 0;
	transition: 1s;
}

nav.mobile:hover ul{
	opacity: 1;
}

nav.mobile li{
	padding: 10px 0;
	transition: 1s;
	border-bottom: 1px solid rgb(140,140,140);
}

nav.mobile li:hover{
	background-color: rgb(220,220,220);
}

nav.mobile li:nth-of-type(3){
	border-bottom: 0;
}

nav.mobile a{
	color: rgb(90,90,90);
	text-decoration: none;
}

/* End header */

/* Init main*/

/* ---------- INIT INDEX ------- */
	/* Init banner form */

section.container-banner{
	width: 100%;
	height: 557px;
	padding: 0 2%;
	background-size: cover;
	background-position: center;
	background-image: url("../images/imagem4.jpg");
}

section.container-banner > .center{
	height: 100%;
}

.form{
	padding: 20px;
	width: 300px;
	height: 100%;
	float: right;
	background-color: #f3c525;
}

.form h2{
	font-size: 19px;
	font-weight: normal;
	color: rgb(90,90,90);
}

.input-container{
	margin-top: 20px;
}

.input-container span, .form p{
	display: inline-block;
	width: 100%;
	color: rgb(90,90,90);
	font-size: 17px;
}

.form p{
	font-size: 12px;
	margin: 20px 0;
}

.form input[type=text]{
	width: 100%;
	margin-top: 8px;
	height: 40px;
	border: 1px solid #ccc;
	font-size: 15px;
	padding-left: 8px;
}

.form .submit-container{
	margin-top: 25px;
	text-align: center;
}

.form input[type=submit]{
	color: white;
	width: 180px;
	height: 40px;
	font-size: 20px;
	display: inline-block;
	background-color: #61a841;
	border: 0;
	cursor: pointer;
}

.form input[type=submit]:hover{
	background-color: #44752e;
}

	/* End banner form */

	/* Init sobre */

.container-sobre{
	padding: 30px 2%;
	text-align: center;
	background-color: rgb(240,240,240);
}

.container-sobre p{
	width: 40%;
	margin: 25px;
	float: left;
	text-align: justify;
}

.container-sobre h2, .container-sobre p{
	color: rgb(90,90,90);
}

.container-sobre img{
	width: 490px;
	height: 275px;
	margin-top: 25px;
	float: right;
}

	/* End sobre */

	/* Init passos */

.container-passos{
	width: 100%;
	padding: 30px 2%;
	text-align: center;
}

.container-passos h2, .container-passos h3, .container-passos p{
	color: rgb(90,90,90);
}

.container-passos h3{
	font-size: 15px;
	margin-top: 5%;
}

.container-icon{
	width: 100%;
}

.container-single{
	float: left;
	padding:30px 2%;
	height: 250px;
	width: 33.33%;
}

.container-single-text{
	padding: 2%;
}

.container-single p{
	text-align: justify;
	padding:10px 10%;
	font-size: 15px;
}

.container-single img{
	width:80px;
}

	/* end passos */

/* ---------- END INDEX ------- */

/* ---------- INIT SOBRE ------- */

section.sobre{
	width: 100%;
	padding: 30px 2%;
	color: rgb(90,90,90);
}

section.sobre p{
	text-align: justify;
	line-height: 28px;
}

div.container1{
	text-align: center;
}

div.container1 img{
	width: 75%;
	margin-top: 30px;
}

div.container2 h2{
	margin: 30px 0;
}

div.container3 img{
	float: left;
	width: 60%;
	padding: 30px 30px 30px 0;
}

div.container3 p{
	float: right;
	width: 40%;
	margin: 30px 0;
}


/* ---------- END SOBRE ------- */

/* ---------- INIT MECANICA ------- */

/* ---------- END MECANICA ------- */

/* end main */

/* init footer */

footer{
	height: 80px;
	background-color: rgb(240,240,240);
}

.menu, .direitos{
	padding: 30px 2%;
}

nav.menu ul{
	text-align: left;
	list-style-type: none;
}

nav.menu li{
	margin: 0 20px;
	display: inline-block;
	transition: 1s;
}

nav.menu li:hover{
	text-decoration: underline;
}

nav.menu li a{
	color: rgb(90,90,90);
	text-decoration: none;
}

footer div.direitos{
	text-align: right;
}

footer p{
	color: rgb(90,90,90);
	font-weight: 500;
	font-size: 14px;
}

/* end footer */

@media screen and (max-width: 1024px){
	.container-sobre p{
		width: 100%;
		margin: 0;
		padding: 25px 2%;
		float: none;
		text-align: justify;
	}

	.container-sobre img{
		width: 490px;
		height: 275px;
		margin-top: 25px;
		float: none;
	}
}

@media screen and (max-width: 774px){
		/* Init Header */

	nav.desktop{
		display: none;
	}

	nav.mobile{
		display: block;
	}

	/* End header */

	/* ini main */

	.container-banner{
		padding:0 2%;
		margin: 0 auto;
	}

	.form{
		float: none;
		margin: 0 auto;
		height: 100%;	}

	.container-sobre img{
		width: 70%;
		height: 70%;
	}

	.container-single{
		width: 50%;
		height: 300px;
	}

	/* end main*/

	/* init footer */

	footer{
		height: auto;
	}

	footer nav.menu{
		float: none;
		width: 100%;
	}

	footer nav.menu ul{
		text-align: center;
	}

	footer div.direitos{
		float: none;
		width: 100%;
		text-align: center;
	}

	/* end footer */

}

@media screen and (max-width: 425px){
	/* Init header */

	nav.desktop li{
		margin: 0 10px;
	}

	/* End header */

	.container-single{
		width: 100%;
		height: 250px;
	}

	h2{
		font-size: 20px;
	}

	nav.menu li{
		margin: 0 10px;
	}
}

@media screen and (max-width: 325px){
	.form{
		width: 100%;
	}

	.form input[type=submit]{
		width: 70%;
	}

}
